<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            {% if forloop.first %}
                <li class="nav-header accordion-heading" data-toggle="collapse" data-target="#{{ label }}">
                    {{ label }}
                    <span class="pull-right"><b class="caret"></b></span>
                </li>
            {% endif %}
            <li data-order="{{ page.order }}" id="{{ label }}">
                <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
